<% content_for :title, "New recipe" %>

<div class="prose w-full max-w-none">
  <h1>New recipe</h1>

  <%= render "form", recipe: @recipe %>

  <%= link_to "Back to recipes", recipes_path, class: "mt-4" %>
</div>
